
/* general */
*{
    margin:0;
    padding:0;
}
body{
    box-sizing: border-box;
    background-color: var(--color-gris-claro);
    font-family: var(--font-roboto);
    font-size: var(--font-tamaño-cuerpo);   
}
li{
    list-style: none;
    /* los circulitos de la lita no se ven pero estan asique por las dudas las sacamos */
}

a{
    color:black;
    text-decoration: none;
}