@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    /* colores */
    --color-amarillo : #EAC926;
    --color-azul : #03264C;
    --color-celeste : #1259c3;
    --color-gris-oscuro: #666;
    --color-gris-claro: #ebebeb;
    --color-verde: #39b54a;
    /* fuentes */
    --font-roboto: 'Roboto', sans-serif;
    /* tamaños */
    --font-tamaño-cuerpo: 12px;
    --font-tamaño-titulares: 24px;
    --font-tamaño-precios: 18px;
    --font-tamaño-dtos-desc: 16px;
}
/* es una seudoclase que sirve para declarar todas las  variables que despues vamos a poder acceder desde nuestro css */

